// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "_retina";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 4;
$gutter-width   : 1.4em;
$grid-padding   : $gutter-width;
@include border-box-sizing;
