// --------
// Imports

@import "base";

/* ------ */
/* Layout */

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic|Open+Sans:400,700);
body {
  @include background-image-retina('squairy_light.png');
  font-family: 'Merriweather', serif;
}

#page {
  @include container;

  header, footer, div { padding: 0 10px; }
  h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif;
    color: $primary-color;
  }

  header, footer { @include span-columns(4); clear: both; }
  .values, .behaviors { @include span-columns(4); }

  .values {
    @include span-columns(4);
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.5);
  }

  @include at-breakpoint(30em 8) {
    @include container;
    header, footer { @include span-columns(8); clear: both; }
    .values { @include span-columns(4); }
    .behavior { @include span-columns(4 omega);  }
  }

  .error {
    color: $error-color;
  }
}

/*
 *Forms
 * * * */

label, input, button {
  display: block;
  margin-top: .5em;
}

input, button {
  font-size: 1em;
  font-family: "Open Sans" sans-serif;
  height: 2em;
  width: 100%;
}

button {
  border-radius: 5px;
  background-color: $primary-color;
  line-height: 1.8em;
  color: #FFF;
  border: 0;
  -moz-transition: background-color .25s;
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
}

button:hover {
  background-color: lighten($primary-color, 10%);
}

/*Links
 * * * */

a {
  -moz-transition: color .25s;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
}
a:visited {
  color: $primary-color-dark;
}

a:hover {
  color: #B21200;
}
