@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic|Open+Sans:400,700);
/* 
 * Retina helper mixins for Compass
 * http://www.joelambert.co.uk
 * 
 * Copyright 2012, Joe Lambert.
 * Free to use under the MIT license.
 * http://joelambert.mit-license.org/
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------ */
/* Layout */
body {
  background-image: url('../images/squairy_light.png?1383352154');
  font-family: 'Merriweather', serif;
}

#page {
  *zoom: 1;
  max-width: 23em;
  _width: 23em;
  padding-left: 1.4em;
  padding-right: 1.4em;
  margin-left: auto;
  margin-right: auto;
}
#page:after {
  content: "";
  display: table;
  clear: both;
}
#page header, #page footer, #page div {
  padding: 0 10px;
}
#page h1, #page h2, #page h3, #page h4, #page h5 {
  font-family: "Open Sans", sans-serif;
  color: #748fb2;
}
#page header, #page footer {
  width: 100%;
  float: left;
  margin-right: 6.93069%;
  display: inline;
  clear: both;
}
#page .values, #page .behaviors {
  width: 100%;
  float: left;
  margin-right: 6.93069%;
  display: inline;
}
#page .values {
  width: 100%;
  float: left;
  margin-right: 6.93069%;
  display: inline;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media (min-width: 30em) {
  #page {
    max-width: 44.6em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin-left: auto;
    margin-right: auto;
  }
  #page:after {
    content: "";
    display: table;
    clear: both;
  }
  #page header, #page footer {
    width: 100%;
    float: left;
    margin-right: 3.34928%;
    clear: both;
  }
  #page .values {
    width: 48.32536%;
    float: left;
    margin-right: 3.34928%;
  }
  #page .behavior {
    width: 48.32536%;
    float: right;
    margin-right: 0;
  }
}
#page .error {
  color: #b21200;
}

/*
 *Forms
 * * * */
label, input, button {
  display: block;
  margin-top: .5em;
}

input, button {
  font-size: 1em;
  font-family: "Open Sans" sans-serif;
  height: 2em;
  width: 100%;
}

button {
  border-radius: 5px;
  background-color: #748fb2;
  line-height: 1.8em;
  color: #FFF;
  border: 0;
  -moz-transition: background-color .25s;
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
}

button:hover {
  background-color: #95a9c4;
}

/*Links
 * * * */
a {
  -moz-transition: color .25s;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
}

a:visited {
  color: #7a9ecc;
}

a:hover {
  color: #B21200;
}
